<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% for social in site.social %}
            {% if social.url %}
              {% if social.workonly != true or site.baseurl != "" %}
                <li class="social-media-icon">
                  <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}>
                    <i class="fa fa-{{ social.icon }}"></i>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
